
  body{
    background: linear-gradient(to bottom, #999966 0%, #ffffcc 100%);
    background-repeat: no-repeat;
  }
  img{
    width: 100%;
    height: 80%;
    margin-top: 20%;

  }

  /* Navbar  */
  .brand-logo {
    font-family: "Staatliches", cursive;
  }
  .btn-c {
    border-radius: 7px;
    font-weight: 500;
  }
  
  .font {
    font-family: "Domine", serif;
    margin-top: 15%;
  }
  
  .font-c {
    font-family: "Quicksand";
    font-weight: 300;
    text-transform: capitalize;
  }
  
  .input {
    border-radius: 15px;
    size: 50em;
    background-color: rgb(230, 230, 230);
    text-decoration: none;
  }
  
  input {
    border-bottom: none !important;
    border-bottom: none !important;
  }
  
  input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
  }
  .placeholder {
    color: grey;
    padding-top: 5px;
  }